# Preprocesado de datos para clustering

In [1]:
import pandas as pd
import numpy as np

In [2]:
__INTERIM_DATA_PATH__ = "../data/interim"
__PREPROCESSED_DATA_PATH__ = "../data/preprocessed"

## Import data

In [3]:
df = pd.read_csv(f"{__INTERIM_DATA_PATH__}/easy_money_prep_1.csv")
df.drop("Unnamed: 0", axis=1, inplace=True)
df.shape

(5962863, 33)

In [4]:
df["pk_partition"] = pd.to_datetime(df["pk_partition"])
df.sort_values(["pk_cid", "pk_partition"], inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,...,emc_account,debit_card,em_account_p,em_acount,entry_date_month,entry_date_year,entry_date_day,entry_date_week,entry_date_weekday,entry_date_trim
0,15891,2018-07-28,2018-07-28,KAT,1,00 - OTROS,ES,28,female,59,...,0,0,0,1,7,2018,28,30,5,3
1,15891,2018-08-28,2018-07-28,KAT,0,02 - PARTICULARES,ES,28,female,59,...,0,0,0,0,7,2018,28,30,5,3
2,16063,2018-11-28,2018-11-19,KAT,1,00 - OTROS,ES,28,female,62,...,0,0,0,0,11,2018,19,47,0,4
3,16063,2018-12-28,2018-11-19,KAT,1,02 - PARTICULARES,ES,28,female,62,...,0,0,0,0,11,2018,19,47,0,4
4,16063,2019-01-28,2018-11-19,KAT,1,02 - PARTICULARES,ES,28,female,62,...,0,0,0,0,11,2018,19,47,0,4

In [5]:
df[df["pk_cid"] == 1534231]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,...,emc_account,debit_card,em_account_p,em_acount,entry_date_month,entry_date_year,entry_date_day,entry_date_week,entry_date_weekday,entry_date_trim
5929828,1534231,2019-02-28,2019-02-23,OTROS,1,00 - OTROS,ES,14,male,33,...,0,0,0,1,2,2019,23,8,5,1
5929829,1534231,2019-03-28,2019-02-23,KHM,1,02 - PARTICULARES,ES,14,male,33,...,0,0,0,1,2,2019,23,8,5,1
5929830,1534231,2019-04-28,2019-02-22,KHM,1,02 - PARTICULARES,ES,14,male,33,...,0,0,0,1,2,2019,22,8,4,1
5929831,1534231,2019-05-28,2019-02-22,KHM,1,02 - PARTICULARES,ES,14,male,33,...,0,0,0,1,2,2019,22,8,4,1

In [6]:
df.describe(include="all").T

C:\Users\alfre\AppData\Local\Temp/ipykernel_8160/1757877825.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include="all").T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
pk_cid,5962863.0,NaN,NaN,NaN,NaT,NaT,1234929.714088,162302.567746,15891.0,1112532.0,1231096.0,1352339.0,1553689.0
pk_partition,5962863,17,2019-05-28 00:00:00,442995,2018-01-28,2019-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
entry_date,5962863,1497,2017-07-28,57389,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
entry_channel,5962863,69,KHE,3113947,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
active_customer,5962863.0,NaN,NaN,NaN,NaT,NaT,0.403382,0.490576,0.0,0.0,0.0,1.0,1.0
segment,5962863,4,03 - UNIVERSITARIO,3900157,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country_id,5962863,41,ES,5960611,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region_code,5962863.0,NaN,NaN,NaN,NaT,NaT,25.80418,13.603108,-1.0,13.0,28.0,36.0,52.0
gender,5962863,3,female,3087480,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,5962863.0,NaN,NaN,NaN,NaT,NaT,29.760324,11.980339,2.0,22.0,25.0,34.0,105.0
deceased,5962863.0,NaN,NaN,NaN,NaT,NaT,0.00018,0.013426,0.0,0.0,0.0,0.0,1.0
salary,5962863.0,NaN,NaN,NaN,NaT,NaT,86447.308602,179616.890876,-1.0,-1.0,69696.21,113462.19,28894395.51
short_term_deposit,5962863.0,NaN,NaN,NaN,NaT,NaT,0.002582,0.050744,0.0,0.0,0.0,0.0,1.0
loans,5962863.0,NaN,NaN,NaN,NaT,NaT,0.000078,0.008859,0.0,0.0,0.0,0.0,1.0
mortgage,5962863.0,NaN,NaN,NaN,NaT,NaT,0.000054,0.007371,0.0,0.0,0.0,0.0,1.0
funds,5962863.0,NaN,NaN,NaN,NaT,NaT,0.003371,0.05796,0.0,0.0,0.0,0.0,1.0
securities,5962863.0,NaN,NaN,NaN,NaT,NaT,0.003712,0.060811,0.0,0.0,0.0,0.0,1.0
long_term_deposit,5962863.0,NaN,NaN,NaN,NaT,NaT,0.016881,0.128826,0.0,0.0,0.0,0.0,1.0
em_account_pp,5962863.0,NaN,NaN,NaN,NaT,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0
credit_card,5962863.0,NaN,NaN,NaN,NaT,NaT,0.011885,0.108367,0.0,0.0,0.0,0.0,1.0
payroll,5962863.0,NaN,NaN,NaN,NaT,NaT,0.034511,0.182539,0.0,0.0,0.0,0.0,1.0
pension_plan,5962863.0,NaN,NaN,NaN,NaT,NaT,0.036526,0.187596,0.0,0.0,0.0,0.0,1.0
payroll_account,5962863.0,NaN,NaN,NaN,NaT,NaT,0.055245,0.228458,0.0,0.0,0.0,0.0,1.0
emc_account,5962863.0,NaN,NaN,NaN,NaT,NaT,0.054833,0.227654,0.0,0.0,0.0,0.0,1.0
debit_card,5962863.0,NaN,NaN,NaN,NaT,NaT,0.094412,0.292401,0.0,0.0,0.0,0.0,1.0
em_account_p,5962863.0,NaN,NaN,NaN,NaT,NaT,0.000006,0.002388,0.0,0.0,0.0,0.0,1.0
em_acount,5962863.0,NaN,NaN,NaN,NaT,NaT,0.734815,0.441432,0.0,0.0,1.0,1.0,1.0
entry_date_month,5962863.0,NaN,NaN,NaN,NaT,NaT,8.141653,2.794156,1.0,7.0,9.0,10.0,12.0
entry_date_year,5962863.0,NaN,NaN,NaN,NaT,NaT,2016.478471,1.103929,2015.0,2016.0,2016.0,2017.0,2019.0
entry_date_day,5962863.0,NaN,NaN,NaN,NaT,NaT,15.91632,8.993567,1.0,8.0,16.0,24.0,31.0
entry_date_week,5962863.0,NaN,NaN,NaN,NaT,NaT,33.603013,12.142804,1.0,30.0,37.0,42.0,53.0
entry_date_weekday,5962863.0,NaN,NaN,NaN,NaT,NaT,3.380366,2.162171,0.0,1.0,4.0,5.0,6.0
entry_date_trim,5962863.0,NaN,NaN,NaN,NaT,NaT,3.098962,0.932933,1.0,3.0,3.0,4.0,4.0

In [7]:
gb_df = df.groupby("pk_cid")

In [8]:
gb_df["entry_date"].nunique().sort_values(ascending=False)

# df[df["pk_cid"] == 23434]["entry_date"]

pk_cid
1250752    2
383905     2
1083881    2
1534231    2
1542479    2
          ..
1188532    1
1188531    1
1188530    1
1188529    1
1553689    1
Name: entry_date, Length: 456373, dtype: int64

In [9]:
def last_value(serie: pd.Series):
    return serie.iloc[-1]

In [10]:
clients_df = gb_df.agg(
    # active_customer
    active_customer_mean=("active_customer", np.mean),
    active_customer_last=("active_customer", last_value),

    # salary
    salary_mean=("salary", np.mean),
    salary_last=("salary", last_value),

    # age
    age_mean=("age", np.mean),
    age_last=("age", last_value)
)

print(clients_df.shape)
clients_df

(456373, 6)

,active_customer_mean,active_customer_last,salary_mean,salary_last,age_mean,age_last
pk_cid,,,,,,
15891,0.500000,0,-1.00,-1.00,59.000000,59
16063,0.714286,0,-1.00,-1.00,62.000000,62
16203,0.833333,1,-1.00,-1.00,70.000000,70
16502,0.888889,1,-1.00,-1.00,57.888889,58
17457,1.000000,1,102405.75,102405.75,53.117647,54
...,...,...,...,...,...,...
1553685,0.000000,0,-1.00,-1.00,52.000000,52
1553686,0.000000,0,-1.00,-1.00,30.000000,30
1553687,0.000000,0,-1.00,-1.00,21.000000,21
1553688,0.000000,0,-1.00,-1.00,43.000000,43
1553689,0.000000,0,-1.00,-1.00,40.000000,40

In [11]:
_gb_unique_country_id = gb_df["country_id"].nunique()
print(f"Hay {len(_gb_unique_country_id[_gb_unique_country_id > 1])} clientes que estan en mas de un pais")

Hay 25 clientes que estan en mas de un pais

In [12]:
clients_df.to_csv(f"{__PREPROCESSED_DATA_PATH__}/clients_df.csv")